$primary-color: rgba(130,210,141,0.9);
$alert-color: #d74c3d;
$income-color: #93dcb8;

$bar-height: 48px;
$list-item-height: 55px;
$icon-height: 40px;

@import 'modal';

/* CSS animation */
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* basic reset */
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

.money {
  flex: 1 1 auto;
  text-align: right;
  font-size: 20px;
  
  &.income {
    color: $primary-color;
  }
  &.payment {
    color: $alert-color;
  }
}

/* style for menuBar */
.menu-bar {
  position: fixed;
  background-color: $primary-color;
  width: 100%;
  color: white;
  z-index: 500;
  .primary {
    display: table;
    height: $bar-height;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    border-bottom: 1px solid rgba(255,255,255,0.3); 
    line-height: $bar-height;
    
    .left-compo,
    .right-compo{
      display:table-cell;
      width: 60px;
    }
    .right-compo {
      text-align: right;
    }
    .page-title {
      margin: auto;
      font-size: 18px;
      text-align: center;
      position: relative;
      
      .dropdown {
        position: absolute;
        top: 47px;
        width: 100%;
        background-color: $primary-color;
        ul {
          padding: 0;
        }
        li {
          list-style: none;  
          border-bottom: 1px dashed lighten($primary-color, 20%);
        }
      }
    }
  }
  .secondary {
    padding: 13px 10px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    overflow: hidden;
    &.collapsed {
      padding: 0px 10px;
      height: 0;
    }
    a {
      margin: 0 5px;  
    }
  }
}

.menu-bar.inverse {
  background-color: #f8f8f8;  
  color: #8b8b8b;
  border-bottom: 1px solid #ddd;
}


.main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 50px;
  background-color: #f8f8f8;
  overflow-x: hidden;
  overflow-y: auto;
}
.jumbotron  {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate3d(-50%,-70%, 0);
  
}
/* styles for buttons */
.btn {
  border-radius: 2px;
  color: white;
  padding: 6px 8px;
  font-size: 16px;
  
  &.btn-primary {
    background-color: $primary-color;
    border: 1px solid darken($primary-color, 5%);
  }
  &.btn-default {
    color: #444;
    background-color: white;  
    border: 1px solid rgba(0,0,0,0.2  );
  }
}

/* style for list-view */
.list {
  width: 100%;
  
  .list-item {
    position: relative;
    border-bottom: 1px dashed #eee;
    width: 100%;
    padding: 10px 0;
    line-height: $icon-height;
    vertical-align: middle;
    opacity: 0;
    transition: all .4s ease;
    animation: fadeInRight .7s;
    -webkit-animation: fadeInRight .7s;
    animation-delay: .3s;  
    -webkit-animation-delay: .3s;  
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
    &:first-child {
      animation-delay: 0s;
    }
    &:nth-child(0n+2) {
      animation-delay: 0.05s;
    }
    &:nth-child(0n+3) {
      animation-delay: 0.1s;  
    }
    &:nth-child(0n+4) {
      animation-delay: 0.15s;  
    }
    &:nth-child(0n+5) {
      animation-delay: 0.2s;
    }
    &:nth-child(0n+6) {
      animation-delay: 0.25s;  
    }
    
    &:nth-child(odd) {
      background-color: white;
    }
    &:nth-child(even) {
      background-color: #fbfbfb;  
    }
    
    .item {
      padding: 0 15px;  
    }
    .item-category {
      font-size: 20px;
      i {
        margin-right: 15px;  
      }
    }
    .item-description {
      font-size: 16px;
    }
    .item-money {
      flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      font-size: 20px;
      text-align: right;
      margin: 0 15px;
    }
    
    .item-controls {
      position: absolute;
      left: 100%;
      top: 0;
      width: 110px;
      height: 100%;
      background-color: #d74c3d;
      font-size: 0;
      
      a {
        display: block;
        box-sizing: border-box;
        width: 55px;
        height: 100%;
        color: white;
        float: left;
        text-align: center;
        line-height: 60px;
        i {
          font-size: 20px !important;
          
        }
      }
    }
    
    &.slide-out {
      margin-left: -110px;  
    }
  }
}

/* category icon */
.category-icon {
  font-style: normal;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color:$income-color;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  &:before {
    
    color: white;
    line-height: 40px;
    font-size:28px;
    font-family:"iconfont" !important;
  }
}


/* style for category select list */
.select-list {
  animation: fadeInDown .6s;
  -webkit-animation: fadeInDown .6s;
  
}
.categories {
  .option-group {
    background-color: white;
    border-bottom: 1px solid #eee;
  }
  
  .option {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    
    .category-icon {
      display: block;
      margin: 2px auto;
//      margin-bottom: 5px;
    }
  }
}
.edit-form {
  position: fixed;
  bottom: 0px;
  animation: fadeInUp .6s;
  -webkit-animation: fadeInUp .6s;
  transition: all .4s ease;
}
#edit-form {
  width: 100%;
  box-sizing: border-box;
  line-height: 40px;
  padding: 0 10px;
  background-color:#f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  
  .form-group{
    display: table;
    width: 100%;
    box-sizing: border-box;
  }
  .item-category,
  .item-description,
  .item-money {
    display: table-cell;
    padding: 0 5px;
  }
  .item-category {
    display: table-cell;
    position: relative;
    width: 50px;
    box-sizing: border-box;
    text-align: center;
    i {
      position: relative;
      top: -2px;
    }
  }
  .item-description {
    border:none;
    background:transparent;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .item-money {
    max-width: 100px;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  input {
    width: inherit;
    max-width: inherit;
    font-size: 1.25em;
    border:none;
    background:transparent;
    box-sizing: border-box;
    padding: 8px 3px;
    color: #666;
    &:focus {
      outline: none;
      background-color: #ddd;
    }
  }
  input[name="money"] {
    text-align: right;
    &:focus {
      background-color: transparent;
    }
  }
}

/* style for list item */
.item {
  display: flex;
  display: -webkit-flex;
  line-height: $icon-height;
  padding: 0 10px;
  
  .item-category {
//    flex: 0 0 40px;
//    -webkit-flex: 0 0 40px;
  }
  .item-description {
    flex: 1 1 auto;  
    -webkit-flex: 1 1 auto;  
    margin-left: 10px;
    margin-right: 10px;
  }
  .item-money {
    flex: 0 0 80px;
    -webkit-flex: 0 0 80px;
    text-align: right;
    &.income {
      color: $primary-color;  
    }
    &.payment {
      color: $alert-color;  
    }
  }
  .item-date {
    flex: 0 0 70px;
    -webkit-flex: 0 0 70px;
    margin-left: 10px;
    color: #666;
    font-size: 14px;
    text-align: right;
    line-height: 20px;
  }
}

/* end of modal component */

/* style for list -- category-view */
.panel {
  height: auto;
  overflow: auto;
  transition: all 0.4s ease;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: -1px;
}
.panel.collapsed {
  .panel-body {
    display: none;
  }
}
.panel-title {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
  box-sizing: border-box;
  line-height: 40px;
  
  .money {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    text-align: right;
  }
  .category {
    i {
      margin-right: 15px;  
    }
    margin-right: 15px;  
    font-size: 20px;
  }
  .control {
    flex: 0 0 42px;
    -webkit-flex: 0 0 42px;
    
    text-align: right;
    i:before {
      transform: rotate(-90deg);
      color: #ccc;
    }
  }
}
.panel-body {
  height: 100%;
  overflow: hidden;
  transition: height .4s ease;
  .list {
    .list-item {
      .item {
        line-height: 24px; 
        .item-money {
          font-size: 18px;  
        }
        .item-description {
          padding-left: 40px;  
        }
        .item-date {
          padding-right: 40px;
        }
      }
    }
  }
}

// total_statistics
section.statistics {
  padding: 15px 0px;
  border-bottom: 1px solid #ddd;
  
  h3 {
    display: none;  
  }
  
  .echart {
    height: 200px;  
  }
}

#total_stat {
  ul {
    display: table;
    width: 100%;
    padding: 0;
  }
  
  li {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #ddd;
    
    .title {
      display: block;
      width: 100%;
      color: #666;
      font-size: 22px;
      margin-bottom: 5px;
    }
    .total-income,
    .total-payment,
    .total-surplus {
      display: block;
      font-size: 20px;
      
      &:before {
        content: "ï¿¥";  
      }
    }
    
    .total-income {
      color: $primary-color;
    }
    .total-payment {
      color: $alert-color;  
    }
    .total-surplus {
      color: #444;  
    }
  }
  li:last-child {
    border: none;
  }
}

#ip_line {
  height: 300px;  
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.2);
}