<!--
<div class="menu-bar inverse">
  <div id="main-menu" class="primary">
    <div class="left-compo">
      <a href="#/action:moveback"><i class="iconfont icon-icon11"></i></a>
    </div>
    <div class="page-title">
      记一笔
    </div>
    <div class="right-compo">
      <a href="#/item:save" class="btn btn-primary" >保存</a>
    </div>
  </div>
</div>
<div class="main-container">
-->
  <div class="edit-form">
  <form action="" id="edit-form">
    <div class="form-group">
      <input type="text" hidden name="id">
      <div class="item-category">
        
      </div>
      <input type="text" hidden name="category" id="category" >
      <div class="item-description"><input type="text" placeholder="" name="description"></div>
      <div class="item-money"><input type="number" name="money" placeholder="0.00" required readonly></div>
    </div>
  </form>
  <div class="calculator_wrap collapsed"></div>
  </div>
<!--
</div>
<div id="redirect" class="modal default fade">
  <div class="modal-container">
    <header class="modal-header">
      账目已保存
    </header>
    <div class="modal-content">
      <div class="item category-transport">
        <i class="item-category category-icon category-transport"></i>
        <span class="item-description">深圳出差机票</span>
        <span class="item-money">￥432</span>
      </div>
    </div>
    <footer class="modal-footer">
      <button class="btn btn-default" data-action="moveback">返回列表</button>
      <button class="btn btn-primary" data-action="reload">再记一笔</button>
    </footer>
  </div>
</div>-->
