
  <div class="edit-form">
  <form action="" id="edit-form">
    <div class="form-group">
      <input type="text" hidden name="id">
      <div class="item-category">
        
      </div>
      <input type="text" hidden name="category" id="category" >
      <div class="item-description"><input type="text" placeholder="" name="description"></div>
      <div class="item-money"><input type="number" name="money" placeholder="0.00" required readonly></div>
    </div>
  </form>
  <div class="calculator_wrap collapsed"></div>
  </div>

