<section class="statistics" id="total_stat">
  <h3>总量统计</h3>
  <ul class="">
    <li><span class="title">总收入</span><span class="total-income"></span>
    </li>
    <li><span class="title">总支出</span><span class="total-payment"></span>
    </li>
    <li><span class="title">总结余</span><span class="total-surplus"></span>
    </li>
  </ul>
</section>
<section class="statistics" id="payment_stat">
  <h3>支出统计</h3>
  <div class="echart pie" id="payment_percentage">
</section>
<section class="statistics" id="ip_stat">
  <h3>收支统计</h3>
  <div class="echart line" id="ip_line">
    
  </div>
</section>
