@charset "UTF-8";
/* CSS animation */
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

/* basic reset */
body {
  margin: 0;
  width: 100%;
  height: 100%; }

a {
  color: inherit;
  text-decoration: none; }

.money {
  flex: 1 1 auto;
  text-align: right;
  font-size: 20px; }
  .money.income {
    color: rgba(130, 210, 141, 0.9); }
  .money.payment {
    color: #d74c3d; }

/* style for menuBar */
.menu-bar {
  position: fixed;
  background-color: rgba(130, 210, 141, 0.9);
  width: 100%;
  color: white;
  z-index: 500; }
  .menu-bar .primary {
    display: table;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 45px;
    line-height: 45px; }
    .menu-bar .primary .left-compo,
    .menu-bar .primary .right-compo {
      display: table-cell;
      width: 60px; }
    .menu-bar .primary .right-compo {
      text-align: right; }
    .menu-bar .primary .page-title {
      margin: auto;
      font-size: 18px;
      text-align: center;
      position: relative; }
      .menu-bar .primary .page-title .dropdown {
        position: absolute;
        top: 47px;
        width: 100%;
        background-color: rgba(130, 210, 141, 0.9); }
        .menu-bar .primary .page-title .dropdown ul {
          padding: 0; }
        .menu-bar .primary .page-title .dropdown li {
          list-style: none;
          border-bottom: 1px dashed rgba(205, 237, 209, 0.9); }
  .menu-bar .secondary {
    padding: 13px 10px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    overflow: hidden; }
    .menu-bar .secondary.collapsed {
      padding: 0px 10px;
      height: 0; }
    .menu-bar .secondary a {
      margin: 0 5px; }

.menu-bar.inverse {
  background-color: #f8f8f8;
  color: #8b8b8b;
  border-bottom: 1px solid #ddd; }

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 45px;
  background-color: #f8f8f8;
  overflow-x: hidden;
  overflow-y: auto; }

.jumbotron {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate3d(-50%, -70%, 0); }

/* styles for buttons */
.btn {
  border-radius: 2px;
  color: white;
  padding: 6px 8px;
  font-size: 16px; }
  .btn.btn-primary {
    background-color: rgba(130, 210, 141, 0.9);
    border: 1px solid rgba(111, 203, 124, 0.9); }
  .btn.btn-default {
    color: #444;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2); }

/* style for list-view */
.list {
  width: 100%;
  animation: fadeIn 1s; }
  .list .list-item {
    position: relative;
    border-bottom: 1px dashed #eee;
    width: 100%;
    padding: 10px 0;
    line-height: 40px;
    vertical-align: middle;
    opacity: 0;
    transition: all 0.4s ease;
    animation: fadeInRight 1s;
    -webkit-animation: fadeInRight 1s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; }
    .list .list-item:first-child {
      animation-delay: 0s; }
    .list .list-item:nth-child(0n+2) {
      animation-delay: 0.1s; }
    .list .list-item:nth-child(0n+3) {
      animation-delay: 0.2s; }
    .list .list-item:nth-child(0n+4) {
      animation-delay: 0.25s; }
    .list .list-item:nth-child(odd) {
      background-color: white; }
    .list .list-item:nth-child(even) {
      background-color: #fbfbfb; }
    .list .list-item .item {
      padding: 0 15px; }
    .list .list-item .item-category {
      font-size: 20px; }
      .list .list-item .item-category i {
        margin-right: 15px; }
    .list .list-item .item-description {
      font-size: 16px; }
    .list .list-item .item-money {
      flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      font-size: 20px;
      text-align: right;
      margin: 0 15px; }
    .list .list-item .item-controls {
      position: absolute;
      left: 100%;
      top: 0;
      width: 110px;
      height: 100%;
      background-color: #d74c3d;
      font-size: 0; }
      .list .list-item .item-controls a {
        display: block;
        box-sizing: border-box;
        width: 55px;
        height: 100%;
        color: white;
        float: left;
        text-align: center;
        line-height: 60px; }
        .list .list-item .item-controls a i {
          font-size: 20px !important; }
    .list .list-item.slide-out {
      margin-left: -110px; }

/* category icon */
.category-icon {
  font-style: normal;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #93dcb8;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center; }
  .category-icon:before {
    color: white;
    line-height: 40px;
    font-size: 28px;
    font-family: "iconfont" !important; }

/* style for category select list */
.select-list {
  animation: fadeInDown 1s; }

.categories .option-group {
  background-color: white;
  border-bottom: 1px solid #eee; }

.categories .option {
  display: inline-block;
  width: 50px;
  text-align: center;
  margin: 10px;
  cursor: pointer; }
  .categories .option .category-icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px; }

.edit-form {
  position: fixed;
  bottom: 0px;
  animation: fadeInUp 1s;
  -webkit-animation: fadeInUp 1s;
  transition: all 0.4s ease; }

#edit-form {
  width: 100%;
  box-sizing: border-box;
  line-height: 40px;
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  #edit-form .form-group {
    display: table;
    width: 100%;
    box-sizing: border-box; }
  #edit-form .item-category,
  #edit-form .item-description,
  #edit-form .item-money {
    display: table-cell;
    padding: 0 5px; }
  #edit-form .item-category {
    display: table-cell;
    position: relative;
    width: 50px;
    box-sizing: border-box;
    text-align: center; }
    #edit-form .item-category i {
      position: relative;
      top: -2px; }
  #edit-form .item-description {
    border: none;
    background: transparent;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px; }
  #edit-form .item-money {
    max-width: 100px;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px; }
  #edit-form input {
    width: inherit;
    max-width: inherit;
    font-size: 1.25em;
    border: none;
    background: transparent;
    box-sizing: border-box;
    padding: 8px 3px;
    color: #666; }
    #edit-form input:focus {
      outline: none;
      background-color: #ddd; }
  #edit-form input[name="money"] {
    text-align: right; }

/* style for modal component */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 600; }
  .modal .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -70%, 0);
    -webkit-transform: translate3d(-50%, -70%, 0); }
    .modal .modal-container .modal-header {
      padding: 10px;
      border-bottom: 1px solid #eee;
      text-align: center; }
    .modal .modal-container .modal-content {
      padding: 10px 0;
      border-bottom: 1px solid #eee; }
      .modal .modal-container .modal-content .item-money {
        flex: 0 0 60px; }
    .modal .modal-container .modal-footer {
      padding: 10px;
      text-align: center; }
      .modal .modal-container .modal-footer .btn {
        margin: 0 5px; }
  .modal.default .modal-container {
    background-color: white;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    min-width: 250px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); }
  .modal.fade {
    display: none; }

/* style for list item */
.item {
  display: flex;
  display: -webkit-flex;
  line-height: 40px;
  padding: 0 10px; }
  .item .item-description {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    margin-left: 10px;
    margin-right: 10px; }
  .item .item-money {
    flex: 0 0 80px;
    -webkit-flex: 0 0 80px;
    text-align: right; }
    .item .item-money.income {
      color: rgba(130, 210, 141, 0.9); }
    .item .item-money.payment {
      color: #d74c3d; }
  .item .item-date {
    flex: 0 0 70px;
    -webkit-flex: 0 0 70px;
    margin-left: 10px;
    color: #666;
    font-size: 14px;
    text-align: right;
    line-height: 20px; }

/* end of modal component */
/* style for list -- category-view */
.panel {
  height: auto;
  overflow: auto;
  transition: all 0.4s ease;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: -1px; }

.panel.collapsed .panel-body {
  display: none; }

.panel-title {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
  box-sizing: border-box;
  line-height: 40px; }
  .panel-title .money {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    text-align: right; }
  .panel-title .category {
    margin-right: 15px;
    font-size: 20px; }
    .panel-title .category i {
      margin-right: 15px; }
  .panel-title .control {
    flex: 0 0 42px;
    -webkit-flex: 0 0 42px;
    text-align: right; }
    .panel-title .control i:before {
      transform: rotate(-90deg);
      color: #ccc; }

.panel-body {
  height: 100%;
  overflow: hidden;
  transition: height 0.4s ease; }
  .panel-body .list .list-item .item {
    line-height: 24px; }
    .panel-body .list .list-item .item .item-money {
      font-size: 18px; }
    .panel-body .list .list-item .item .item-description {
      padding-left: 40px; }
    .panel-body .list .list-item .item .item-date {
      padding-right: 40px; }

section.statistics {
  padding: 15px 0px;
  border-bottom: 1px solid #ddd; }
  section.statistics h3 {
    display: none; }
  section.statistics .echart {
    height: 200px; }

#total_stat ul {
  display: table;
  width: 100%;
  padding: 0; }

#total_stat li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #ddd; }
  #total_stat li .title {
    display: block;
    width: 100%;
    color: #666;
    font-size: 22px;
    margin-bottom: 5px; }
  #total_stat li .total-income,
  #total_stat li .total-payment,
  #total_stat li .total-surplus {
    display: block;
    font-size: 20px; }
    #total_stat li .total-income:before,
    #total_stat li .total-payment:before,
    #total_stat li .total-surplus:before {
      content: "ï¿¥"; }
  #total_stat li .total-income {
    color: rgba(130, 210, 141, 0.9); }
  #total_stat li .total-payment {
    color: #d74c3d; }
  #total_stat li .total-surplus {
    color: #444; }

#total_stat li:last-child {
  border: none; }

#ip_line {
  height: 300px; }
