.modal {
  position: fixed;
  max-width: 300px;
  border-radius: 2px;
  border: 1px solid #eee;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -70%, 0);
  -webkit-transform: translate3d(-50%, -70%, 0); }
  .modal .modal-header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #eee; }
  .modal .modal-context {
    padding: 10px; }
  .modal .modal-footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #eee; }
    .modal .modal-footer .btn {
      margin: 0 5px; }
